
  .nav-links {
    font-size: 3rem;
    flex-basis: 30rem;
    color: black;
  }
  .nav-links h3 {
    padding: 3rem 0rem;
  }
  .contact {
    flex-basis: 30rem;
    color: black;
  }
  .contact h2 {
    font-size: 3rem;
    padding: 2rem 0rem;
  }
  .contact p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  ul.nav-links a {
    text-decoration: none;
    color: black;
}
  