.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    padding: 0 10px ;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    color:black;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
.Backdrop{
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: 100;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.5); 
}