#logo {
  color: black;
  font-family: "Abril Fatface";
  z-index: 2; 
}
.navHeader {
/*   min-height: 10vh; */
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  z-index: 2;  
  position: relative;
  }
.line1,
.line2 {
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: black;
    pointer-events: none;

 
  }
.burger {
    cursor: pointer;
    background: none;
    border: none;
    z-index: 2;
  }

  hide {
    overflow: hidden;
  }
  .navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
/*     z-index: 1; */ 
    opacity: 1;
   /*   clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);     */
  }